[general]
framerate = 120
sensitivity = 125
bars = 100
lower_cutoff_freq = 40
higher_cutoff_freq = 20000

[input]
method = pulse
#source = easyeffects_sink

[output]
method = raw
bit_format = 8bit
channels = mono
mono_option = left
data_format = binary

[smoothing]
monstercat = 1
waves = 0
noise_reduction = 8

[eq]
1 = 1.5
2 = 1.15
3 = 1
4 = 1
5 = 1
